{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",

  "plugins": ["@typescript-eslint", "jest"],
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "no-const-assign": "error",
    "semi": "error",
    "eol-last": "error",
    "jest/no-focused-tests": "error",
    "no-console": "warn",
    "max-classes-per-file": "off",
    "sort-keys": "off",
    "react/display-name": "off",
    "react/jsx-no-bind": "warn",
    "react/jsx-boolean-value": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-non-null-assertion": "warn",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-inferrable-types": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {"args": "none", "varsIgnorePattern": "^_\\w+", "argsIgnorePattern": "^_"}
    ]
  },
  "env": {
    "mocha": false,
    "jest": false,
    "node": true
  },
  "overrides": [
    {
      "files": ["**/*.spec.ts", "**/*.spec.tsx", "**/*.it.ts", "**/*.it.tsx"],
      "env": {
        "jest": true
      },
      "globals": {
        "sinon": true,
        "expect": true
      },
      "plugins": ["jest"],
      "rules": {
        "jest/no-focused-tests": "error",
        "jest/expect-expect": "error",
        "jest/no-standalone-expect": "error",
        "jest/no-export": "warn",
        "@typescript-eslint/no-non-null-assertion": "off",
        "react/jsx-no-bind": "off",
        "no-restricted-globals": "off"
      }
    }
  ]
  //   "globals": {
  //     "sinon": true,
  //     "expect": true
  //   }
}
