.container__row {
  margin: 0px;
  padding: 0px;
  height: 70px;
  align-items: center;
}

.container__col {
  padding-left: 0px;
}

.myTextField {
  color: white;
  font-size: 20px;
}

.myErrorMessage {
  color: #cf6679;
  text-align: center;
  font-size: 14px;
}

.messageStyle {
  font-size: 10px;
  color: red;
}
