@import '../../scss/colors.module.scss';

.container__row {
  /* border: 3px solid red; */
  margin: 0px;
  padding: 0px;
  height: 70px;
  align-items: center;
  /* background-color: green; */
}

.container__col {
  padding-left: 0px;
}

/* input[type='radio']:after {
  background: #ebff43;
}

input[type='radio']:checked:after {
  background: #ebff43;
} */

.text_field {
  color: white;
  font-size: 18px;
  margin-top: 20px; /* ?: is not centered by input, but by input+label*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}

.text_button {
  color: var(--accentColor);
  font-size: calc(0.5em + 0.5vw);
  padding-right: 0px;
}

.text_button:disabled {
  color: lightgrey;
}

.text_button:focus,
.text_button:hover {
  background-color: unset !important;
  text-decoration: none;
  color: #41e87a;
}

.myTextField {
  color: white;
  font-size: 20px;
}

.button {
  border-radius: 2;
  border: none;
  width: 100px;
  background-color: var(--primaryColor);
  border: 1px solid var(--accentColor);
}

.button:focus:enabled {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid var(--accentColor);
}

.button:hover:enabled {
  background-color: #203821;
  border: 1px solid var(--accentColor);
}
/* Updated with Material*/
.button:disabled {
  background-color: var(--white38);
  border: 1px solid var(--white38);
  cursor: default;
}

.myErrorMessage {
  color: #cf6679;
  text-align: center;
  font-size: 14px;
}

/*.radio__side {
  margin-top: 30px;
}*/

.messageStyle {
  font-size: 10px;
  color: red;
}
