@import '../../scss/colors.module.scss';

.white60 {
  color: var(--white60);
}

.listItemContainer {
  margin-left: 5px;
  padding: 1px;
  border: 1px solid grey;
  color: var(--white60);
}

.allPricesContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
  margin-top: 6px;
}

.container {
  justify-content: center;
  text-align: center;
  margin-top: 12px;
}

.message {
  color: #ffffff;
  margin-top: 1px;
}
