@import "../../css/colors.module.css";

.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
  background-color: var(--secondaryColor);
  color: rgba(255, 255, 255, 0.87);
}
.table tr {
  height: 15px;
}

.table td,
.table th {
  padding: 5px;
}

.table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

/* .table tr:hover {
  background-color: #ddd;
} */

.table th {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  text-align: left;
  background-color: #121212; /*#112118*/
  color: rgba(255, 255, 255, 0.87);
}
