.toast,
.error_toast,
.success_toast,
.warning_toast {
  align-items: flex-start;
  border-radius: 4px;
  padding: 6px 16px;
  margin-bottom: 5px;
  padding-right: 50px;
  box-shadow: 2px 2px 3px black;
}

.toast_none {
  display: none;
}

.error_toast {
  color: pink;
  background-color: #180605;
}

.success_toast {
  color: var(--accentColor);
  background-color: rgb(7, 17, 7);
  border: 1px solid #317633;
}

.warning_toast {
  color: rgb(255, 213, 153);
  background-color: rgb(25, 15, 0);
}

.toast_text {
  font-size: 14px;
  padding: 8px 0;
}
