%text {
  font-size: 14px;
  background-color: transparent;
  border: none;
  &:focus:enabled {
    outline: none;
  }
  &:disabled {
    color: var(--white38);
  }
  &:hover:enabled {
    background-color: unset !important;
    text-decoration: none;
  }
}

%regular {
  font-size: 14px;
  color: white;
  background-color: var(--primaryColor);
  border-radius: 2px;
  padding: 5px 5px;
  width: 120px;
  &:focus:enabled {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
  &:disabled {
    color: var(--white60);
    background-color: var(--white38);
    border: 1px solid var(--white38);
    cursor: default;
  }
}

.text_button {
  @extend %text;
  color: var(--accentColor);
  &:hover:enabled {
    color: #41e87a;
  }
}

.text_sell {
  @extend %text;
  color: var(--stopColor);
  &:hover:enabled {
    color: #ff93a7;
  }
}

* .button {
  @extend %regular;
  border: 1px solid var(--accentColor);
  padding: 3px 25px;

  &:hover:enabled {
    background-color: #203821;
  }
}

.button_sell {
  @extend %regular;
  border: 1px solid rgb(245, 157, 172);
  &:hover:enabled {
    background-color: var(--stopColor);
  }
}

.button_buy {
  @extend %regular;
  border: 1px solid var(--accentColor);
  &:hover:enabled {
    background-color: #203821;
  }
}

@media only screen and (max-width: 600px) {
  .button,
  .button_sell,
  .button_buy {
    font-size: 12px;
  }
}
