@import '../../scss/colors.module.scss';

.table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
  background-color: var(--secondaryColor);
  color: rgba(255, 255, 255, 0.87);
  overflow: hidden;

  tr {
    height: 15px;
    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  td {
    padding: 5px;
  }

  th {
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    text-align: left;
    // background-color: #121212; /*#112118*/
    color: rgba(255, 255, 255, 0.87);
    text-transform: uppercase;
  }
}

.side_color__sell,
.side_stop__sell {
  padding-left: 5px;
  border-left: 6px solid var(--stopColor);
}

td[id='text'] {
  background-color: 'red';
}

.side__sell {
  color: var(--stopColor);
}
.side__buy {
  color: var(--accentColor);
}

.side_color__buy,
.side_stop__buy {
  padding-left: 5px;
  border-left: 6px solid var(--accentColor);
}
.side_stop__buy {
  border-top: 1px solid var(--accentColor);
}
.side_stop__sell {
  border-top: 1px solid var(--stopColor);
}

.cancel {
  &:hover {
    color: var(--stopColor);
    cursor: pointer;
    transition: 0.25s;
  }
}

.div_corner {
  height: 100%;
  width: 20px;
}

.div_corner__button {
  height: 40px;
  width: 20px;
  background: var(--stopColor);
  cursor: pointer;
  clip-path: polygon(0 0, 100% 50%, 100% 0);
}
.div_corner__button:hover {
  background-color: red;
  transition: 0.25s;
}
