@import "../../css/root.module.css";
@import "../../css/colors.module.css";

.select_dropdown label {
  color: rgba(255, 255, 255, 0.6); /*grey*/
/*  font-size: calc(0.5em + 0.5vw);*/
  font-size: 14px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.select_dropdown select {
  background-color: var(--primaryColor);
  color: rgba(255, 255, 255, 0.87);

  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  outline: none;
  /* this is must */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select_dropdown select:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid var(--accentColor);
}

select::-ms-expand {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
}
