input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"],
input[type="number"]:focus {
  -moz-appearance: textfield;
  background-color: var(--primaryColor);
  border-radius: 0;
  color: white;
  border: 1px solid grey;
}

label {
  color: white;
  font-size: calc(0.5em + 0.5vw);
}
