input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  background-color: var(--primaryColor);
  border-radius: 0;
  color: white;
  border: 1px solid grey;
}

input[type='number']:focus {
  -moz-appearance: textfield;
  background-color: var(--primaryColor);
  color: white;
  border: 1px solid var(--accentColor);
  -webkit-box-shadow: none;
  box-shadow: none;
}

label {
  color: white;
  font-size: calc(0.5em + 0.5vw);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
