@import '../../../scss/colors.module.scss';

.table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
  background-color: var(--secondaryColor);
  color: rgba(255, 255, 255, 0.87);
  overflow: hidden;
}
.table tr {
  height: 15px;
}

.table td,
.table th {
  padding: 5px;
}

.table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.table th {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  text-align: left;
  background-color: #121212; /*#112118*/
  color: rgba(255, 255, 255, 0.87);
}

.side_color__sell,
.side_stop__sell {
  padding-left: 5px;
  border-left: 6px solid var(--stopColor);
}

td[id='text'] {
  background-color: 'red';
}
.side_stop__sell {
  border-top: 1px solid var(--stopColor);
}

.side__sell {
  color: var(--stopColor);
}
.side__buy {
  color: var(--accentColor);
}

.side_color__buy,
.side_stop__buy {
  padding-left: 5px;
  border-left: 6px solid var(--accentColor);
}
.side_stop__buy {
  border-top: 1px solid var(--accentColor);
}
