:root {
  --accentColor: #4caf50; /*#00c853; #00ca45;*/
  --primaryColor: #121212; /*#323e4d;*/
  --secondaryColor: #1e1e1e; /*#253034;*/
  --stopColor: #cf6679;
  --white38: rgba(255, 255, 255, 0.38);
  --white60: rgba(255, 255, 255, 0.6);
}
