body {
  background-color: var(--primaryColor) !important;
  min-width: 500px;
  min-height: 750px;
  padding-top: 5px;
  font-family: "Helvetica", "Roboto", '"Helvetica Neue"', "Arial", "sans-serif" !important;
}
