body {
  background-color: var(--primaryColor) !important;
  min-width: 500px;
  min-height: 750px;
  padding-top: 5px;
  font-family: 'Helvetica', 'Roboto', '"Helvetica Neue"', 'Arial', 'sans-serif' !important;
  padding: 0;
}

::-webkit-scrollbar {
  height: 0;
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
